body {

    background: url(../img/fondo4.jpg) no-repeat center fixed;
    background-size: 100% 100%;
    color: black;
    margin: 0;
    font-family: Ranchers;
}

/////////////////////////////////////////////////////////////////////
.titulo {       
            width: 100%;
            text-shadow: 2px 2px 2px #808B96;
            margin-left: 10px;
            font-size: 1.2em;
            text-align: center;
      }
/////////////////////////////////////////////////////////////////////

.container {
    padding: 40px;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
}

.oval {
    opacity: .6;
    border-radius: 200px 200px 200px 200px;
    list-style: none;
    padding: 40px;
    background-color: #D6EAF8;
    color: #222;
    text-align: center;
    border-width:5px 5px 5px 5px;
    border-style: solid;
}

.oval:hover {
    animation: bounce 1s linear;
            opacity: 1;
}

.poke-nombre {
    text-transform: capitalize;
    text-shadow: 5px 5px #808B96 ;
    margin-bottom: 0px;
    font-size: 62px;
    font-weight: normal;
}

.tipo {
    margin-top: 5px;
}

.peso {
    margin-top: 5px;

}

.alto {
    margin-top: 5px;
}

.imagen {
    height: 200px;
}

/////////////////////////////////////7
.c3{
    width: 100%;
    }

        .kanto {
   display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
        }

        .johto {
   display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
        }


            #Region_kanto img{
            border-color: black;
            border-width:0px 3px 3px 0px;
            border-style: solid; 
            width: 50%;
            transition-property: border;
            transition: all 1000ms ease-in-out;
                 
            }

            #Region_kanto img:hover{
            -ms-transform: rotate(10deg); /* IE 9 */
            -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
            transform: rotate(10deg);
            border: solid 2px #82c3a6;
            }

            #Region_johto img{
            border-color: black;
            border-width:0px 3px 3px 0px;
            border-style: solid; 
            width: 50%;
            transition-property: border;
            transition: all 1000ms ease-in-out;
                 
            }

            #Region_johto img:hover{
            -ms-transform: rotate(10deg); /* IE 9 */
            -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
            transform: rotate(10deg);
            border: solid 2px #82c3a6;


@keyframes bounce {


    50% {
        transform: translateY(-2px);
        opacity: .8;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

